.footer {
    box-sizing: border-box;
    font: 500 14px/20px Google Sans, Helvetica Neue, sans-serif;
    letter-spacing: .25px;
    background: #f8f9fa;
    border-collapse: collapse;
   // color: #5f6368;
    display: block;
    padding: 15px;
    // text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 0.5rem;
    position: absolute;
    bottom: 0;
    width: 100%;
    // height: 2.5rem;

    .link {
        color: #1e62d8;
        text-decoration: none;
    }

    .footer-item {}

    .divider {}
}